* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: #2f4960;
	background-image: linear-gradient(to bottom right, #4d779b 10%, #102040);
}

.heading {
	margin-top: 35px;
	margin-bottom: 50px;
	padding: 20px;
}

.form {
	margin-bottom: 400px;
	margin-left: 200px;
}

form {
	width: 70%;
}

label {
	font-family: 'Michroma', sans-serif;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px black;
	color: gold;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	letter-spacing: 4px;
	color: #fa8434;
	text-align: center;
	text-shadow: 2px 2px 5px #2f0505;
}

/*
font-family: 'Dosis', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'New Tegomin', serif;
*/
